# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Gradle
.gradle/
build/

# Wrapper files
gradle-app.setting

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Compiled files
*.class
